* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#heart {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
}
#heart > .div1 {
  position: fixed;
  /* 遇到问题:如何让正方形旋转45度  两者表达方式等价*/
  transform: rotate(45deg);
  /* transform: rotate(0.125turn); */
}
#heart > .div2 {
  position: absolute;
}
#heart > .div3 {
  position: absolute;
}
